$input-border-focus: orange !default;

//@import "bootstrap-sass/lib/bootstrap";
// Core variables and mixins
@import "bootstrap-sass/lib/variables";
@import "bootstrap-sass/lib/mixins";
// Reset
@import "bootstrap-sass/lib/normalize";
@import "bootstrap-sass/lib/print";
// Core CSS
@import "bootstrap-sass/lib/scaffolding";
@import "bootstrap-sass/lib/type";
@import "bootstrap-sass/lib/forms";
@import "bootstrap-sass/lib/grid";
// Utility classes
@import "bootstrap-sass/lib/utilities";
@import "bootstrap-sass/lib/responsive-utilities";

@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";


$dark-grey: #464646;
$light-grey: #fafafa;

body {
    background-color: $dark-grey; // Old browsers
    background:url("/images/wood.jpg") repeat scroll center top;
    
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #333; 
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    color: $dark-grey;
}

h1 {
    padding: 0 0 .6em .5em;
}

#main-container {
    //background: $light-grey;
    padding: 0;
    //padding: 2em;
}

#main-page {
    h1 {
        @include text-shadow(rgba(black, 0.2) 2px 2px 0);
        color: $light-grey;
    }
    ul {
        padding: 2em 0;
        background: $light-grey;
        @include border-radius(8px);
    }
}

#footer {
    color: $light-grey;
    margin: 2em 1em;
    font-size: 85%;
}

#search-container {
    padding: .5em;
}

.orchid-line {
    color: $light-grey;
    padding-bottom: 1em;
    
    i {
        margin-left: 1em;
    }
}

.orchid-name {
    padding-left: 2em;
    text-decoration: none !important;
    font-size: 130%;
}

.orchid-line:hover {
    color: #0378A6;
    text-decoration: none !important;
}

.orchid-detail {
    background-color: $dark-grey; // Old browsers
    background:url("/images/wood.jpg") repeat scroll center top;
     
    color: $light-grey;
    //padding: .5em 2em;
    //padding: 4em 2em;
}

 .orchid-detail-content {
    padding: 4em 2em;
    h3 {
        color: $light-grey;
    }
    img {
        margin: 1em;
        @include box-shadow(black 0 0 10px); 
    }
}

.top-gradient {
    height: 1em;
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: $dark-grey; // Old browsers

    //@include filter-gradient(#bf000000, #00000000, vertical); // IE6-8
    @include filter-gradient(#000000, #000000, vertical); // IE6-8

    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    background: url("/images/wood.jpg") repeat scroll center top;
    @include background-image(linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%));
}


.bottom-gradient {
    height: 1em;
    
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: $dark-grey; // Old browsers
    //@include filter-gradient(#bf000000, #00000000, vertical); // IE6-8
    @include filter-gradient(#000, #000, vertical); // IE6-8

    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    background: url("/images/wood.jpg") repeat scroll center top;
    @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%));
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
}

