
<div id="main-page">
  <div class="row">
    <div class="col-sm-offset-10 col-sm-offset-10 col-lg-2 col-sm-2">
      <div id="search-container">
        <input class="form-control input-sm" type="text" ng-model="searchText" ng-change="onSearch()" 
               placeholder="Search">
      </div>
    </div>
  </div>


  <h1>Orchids of Belize</h1>
  <ul>
    <li class="orchid-line" ng-repeat="orchid in orchids track by $index" 
        ng-show="searchedFor(orchid.name)">
      <a class="orchid-name "ng-click="show_detail($index)">
        {{orchid.name}} <span ng-hide="{{orchid.thumbs.length}}==0">- {{orchid.thumbs.length}}</span>
      </a>
      <div class="orchid-detail" ng-show="show_index===$index">
        <div class="top-gradient"></div>
        <div class="orchid-detail-content">
          <div ng-switch="detail_images[orchid.name].length!==0">
            <div ng-switch-when="true">
              <img ng-repeat="image in detail_images[orchid.name]" ng-src="{{image}}"></img>
            </div>
            <p ng-switch-when="false">No photos</p>
          </div>
        </div> <!-- .orchid-detail-content -->
        <div class="bottom-gradient"></div>
      </div> <!-- .orchid-detail -->
    </li>
  </ul>
</div>
